.App {
  text-align: center;
}

.credit {
  width: 350px;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
}

.App input {
  outline-color: rgb(0, 0, 255);
  width: 60px;
  height: 30px;
  margin: 1.2rem 0.4rem;
  text-align: center;
}

.App input:focus{
  box-shadow: 0px 0px 8px rgba(0, 0, 255, 0.5);
}

.cardNum {
  font-size: 1rem;
  font-weight: 700;
}

.cardNum span {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 10px;
}
